@import "tailwindcss";
@import "fumadocs-ui/css/solar.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-fd-primary: oklch(0.68 0.19 45);
  --color-fd-primary-foreground: oklch(0.99 0.01 95);
}

.dark {
  --color-fd-background: hsl(0, 0%, 0%);
  --color-fd-article: hsl(0, 0%, 0%);
  --color-fd-card: hsl(0, 0%, 4%);
  --color-fd-muted: hsl(0, 0%, 6%);
  --color-fd-popover: hsl(0, 0%, 4%);
  --color-fd-border: hsla(0, 0%, 40%, 15%);
  --color-fd-primary: oklch(0.86 0.19 130);
  --color-fd-primary-foreground: oklch(0.2 0.04 130);
}

html {
  scrollbar-gutter: stable;
}

#nd-nav,
#nd-nav > *,
#nd-subnav {
  background-color: var(--color-fd-background);
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

html > body[data-scroll-locked] {
  --removed-body-scroll-bar-size: 0px !important;
  margin-right: 0px !important;
}

.landing-page {
  width: calc(100% + 2 * var(--fd-layout-offset, 0px));
  margin-inline: calc(-1 * var(--fd-layout-offset, 0px));
}

#nd-home-layout nav {
  border-bottom: none;
}
